In [29]:
import pandas as pd
from sqlalchemy import create_engine
from random import randint
import pymongo

In [2]:
main_file = "../Data/US_Accidents_Dec19.csv"

In [3]:
main_df = pd.read_csv(main_file)

In [4]:
main_df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

### Transform Accident DataFrame

In [5]:
# List conversion function.
def convert(s):
    lst = []
    temp = str(s).split(", ")
    
    for x in temp:
        lst.append(x.translate({ord(i): None for i in "[']"}))
    
    return lst

In [23]:
# pokemon_lst_df = pokemon_df.copy()
# for i in range(0, len(pokemon_lst_df)):
#     pokemon_lst_df.at[i,'Types'] = convert(pokemon_df.loc[i,'Types'])
#     pokemon_lst_df.at[i,'Moves'] = convert(pokemon_df.loc[i,'Moves'])

In [6]:
main_df.columns

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [21]:
main_cols = ["ID", "Severity", "Start_Time", "End_Time", "Start_Lat", "Start_Lng", "Description", "Number", "Street", "Side", "City", "County", "State", "Zipcode"]
main_trans_df = main_df[main_cols].copy()
main_trans_df = main_trans_df.rename(columns={"Start_Lat": "Lat", "Start_Lng": "Lng"})

# pokemon_trans_df['Type_1'] = ''
# pokemon_trans_df['Type_2'] = 'None'
# # Rename the column headers
# for index, row in pokemon_lst_df.iterrows():
#     for i in range(0, len(row['Types'])):
#         pokemon_trans_df.loc[index,f'Type_{i+1}'] = row['Types'][i]
#     pokemon_trans_df.loc[index,'Move'] = row['Moves'][randint(0,len(row['Moves'])-1)]

main_trans_df.head()

,ID,Severity,Start_Time,End_Time,Lat,Lng,Description,Number,Street,Side,City,County,State,Zipcode
0,A-1,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,Right lane blocked due to accident on I-70 Eas...,NaN,I-70 E,R,Dayton,Montgomery,OH,45424
1,A-2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,Accident on Brice Rd at Tussing Rd. Expect del...,2584.0,Brice Rd,L,Reynoldsburg,Franklin,OH,43068-3402
2,A-3,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,Accident on OH-32 State Route 32 Westbound at ...,NaN,State Route 32,R,Williamsburg,Clermont,OH,45176
3,A-4,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,Accident on I-75 Southbound at Exits 52 52B US...,NaN,I-75 S,R,Dayton,Montgomery,OH,45417
4,A-5,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,Accident on McEwen Rd at OH-725 Miamisburg Cen...,NaN,Miamisburg Centerville Rd,R,Dayton,Montgomery,OH,45459

### Create Empty Data Frame

In [22]:
short_df = pd.DataFrame(columns=main_cols)
short_df = short_df.rename(columns={"Start_Lat": "Lat", "Start_Lng": "Lng"})

In [23]:
for i in range(0,10000):
    short_df = short_df.append(main_trans_df.loc[randint(0,len(main_trans_df)-1),:], ignore_index=True)
print("Length of Short Data Frame = ", len(short_df))
short_df.head()

Length of Short Data Frame =  10000

,ID,Severity,Start_Time,End_Time,Lat,Lng,Description,Number,Street,Side,City,County,State,Zipcode
0,A-704375,2,2019-09-20 16:22:11,2019-09-20 18:44:05,30.443209,-91.088921,Accident on US-61 Airline Hwy at Goodwood Blvd.,NaN,Airline Hwy,R,Baton Rouge,East Baton Rouge,LA,70815
1,A-1617158,2,2018-06-26 08:00:34,2018-06-26 08:30:21,41.758034,-88.031281,Accident on Woodward Ave near 71st St.,1900.0,71st St,L,Woodridge,DuPage,IL,60517
2,A-852702,2,2019-08-12 20:14:56,2019-08-12 22:26:06,33.965012,-118.247673,Serious accident on Compton Ave at 82nd St.,8200.0,Compton Ave,L,Los Angeles,Los Angeles,CA,90001-3916
3,A-1984456,3,2017-12-27 11:10:43,2017-12-27 11:40:18,42.973518,-85.639778,Left lane blocked and left hand shoulder block...,NaN,Gerald R Ford Fwy W,R,Grand Rapids,Kent,MI,49503
4,A-1875425,2,2018-01-02 18:12:36,2018-01-02 18:57:09,39.836216,-105.024803,One lane blocked due to accident on US-36 West...,NaN,N Foothills Hwy W,R,Westminster,Adams,CO,80030

In [11]:
len(main_trans_df)

2974335

In [28]:
main_trans_df.to_csv("../Data/US_Accidents_Dec19_Transformed.csv")
short_df.to_csv("../Data/Test_Data.csv")

### Create database connection

In [77]:
# connection_string = "postgres:[password]@localhost:5432/Pokemon"
# engine = create_engine(f'postgresql://{connection_string}')

In [30]:
# # Confirm tables
# engine.table_names()

In [ ]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

db1 = client.Accidents
db2 = client.Accidents_Short

### Drop Documents in Databases if Necessary

In [36]:
db1.accident.drop()
db2.accident.drop()

### Load DataFrames into database

In [79]:
# combined_df.to_sql(name='pokemon', con=engine, if_exists='append', index=True)

In [37]:
db1.accident.insert_many(main_trans_df.to_dict('records'))
db2.accident.insert_many(short_df.to_dict('records'))