In [80]:
import pandas as pd
from sqlalchemy import create_engine
from random import randint
import pymongo
from datetime import datetime
import gc

In [2]:
main_file = "../static/data/US_Accidents_Dec19.csv"

In [3]:
main_df = pd.read_csv(main_file)

In [4]:
main_df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

### Transform Accident DataFrame

In [5]:
# List conversion function.
def convert(s):
    lst = []
    temp = str(s).split(", ")
    
    for x in temp:
        lst.append(x.translate({ord(i): None for i in "[']"}))
    
    return lst

In [23]:
# pokemon_lst_df = pokemon_df.copy()
# for i in range(0, len(pokemon_lst_df)):
#     pokemon_lst_df.at[i,'Types'] = convert(pokemon_df.loc[i,'Types'])
#     pokemon_lst_df.at[i,'Moves'] = convert(pokemon_df.loc[i,'Moves'])

In [6]:
main_df.columns

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [5]:
main_cols = ["ID", "Severity", "Start_Time", "End_Time", "Start_Lat", "Start_Lng", "Description", "Number", "Street", "Side", "City", "County", "State", "Zipcode"]
main_trans_df = main_df[main_cols].copy()
main_trans_df = main_trans_df.rename(columns={"Start_Lat": "Lat", "Start_Lng": "Lng"})

# pokemon_trans_df['Type_1'] = ''
# pokemon_trans_df['Type_2'] = 'None'
# # Rename the column headers
# for index, row in pokemon_lst_df.iterrows():
#     for i in range(0, len(row['Types'])):
#         pokemon_trans_df.loc[index,f'Type_{i+1}'] = row['Types'][i]
#     pokemon_trans_df.loc[index,'Move'] = row['Moves'][randint(0,len(row['Moves'])-1)]

main_trans_df.head()

,ID,Severity,Start_Time,End_Time,Lat,Lng,Description,Number,Street,Side,City,County,State,Zipcode
0,A-1,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,Right lane blocked due to accident on I-70 Eas...,NaN,I-70 E,R,Dayton,Montgomery,OH,45424
1,A-2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,Accident on Brice Rd at Tussing Rd. Expect del...,2584.0,Brice Rd,L,Reynoldsburg,Franklin,OH,43068-3402
2,A-3,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,Accident on OH-32 State Route 32 Westbound at ...,NaN,State Route 32,R,Williamsburg,Clermont,OH,45176
3,A-4,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,Accident on I-75 Southbound at Exits 52 52B US...,NaN,I-75 S,R,Dayton,Montgomery,OH,45417
4,A-5,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,Accident on McEwen Rd at OH-725 Miamisburg Cen...,NaN,Miamisburg Centerville Rd,R,Dayton,Montgomery,OH,45459

### Create Empty Data Frame

In [82]:
short2016_df = pd.DataFrame(columns=main_cols)
short2017_df = pd.DataFrame(columns=main_cols)
short2018_df = pd.DataFrame(columns=main_cols)
short2019_df = pd.DataFrame(columns=main_cols)
short2016_df = short2016_df.rename(columns={"Start_Lat": "Lat", "Start_Lng": "Lng"})
short2017_df = short2017_df.rename(columns={"Start_Lat": "Lat", "Start_Lng": "Lng"})
short2018_df = short2018_df.rename(columns={"Start_Lat": "Lat", "Start_Lng": "Lng"})
short2019_df = short2019_df.rename(columns={"Start_Lat": "Lat", "Start_Lng": "Lng"})
sshort2016_df = pd.DataFrame(columns=main_cols)
sshort2017_df = pd.DataFrame(columns=main_cols)
sshort2018_df = pd.DataFrame(columns=main_cols)
sshort2019_df = pd.DataFrame(columns=main_cols)
sshort2016_df = short2016_df.rename(columns={"Start_Lat": "Lat", "Start_Lng": "Lng"})
sshort2017_df = short2017_df.rename(columns={"Start_Lat": "Lat", "Start_Lng": "Lng"})
sshort2018_df = short2018_df.rename(columns={"Start_Lat": "Lat", "Start_Lng": "Lng"})
sshort2019_df = short2019_df.rename(columns={"Start_Lat": "Lat", "Start_Lng": "Lng"})

In [54]:
string1 = main_trans_df['Start_Time'][7]
string1

'2016-02-08 07:59:58'

In [57]:
datetime_object = datetime.strptime(string1, '%Y-%m-%d %H:%M:%S')

print(type(datetime_object))
print(datetime_object)  # printed in default format
print(datetime_object.year)
print(type(datetime_object.year))

<class 'datetime.datetime'>
2016-02-08 07:59:58
2016
<class 'int'>

In [8]:
# for i in range(0,1000):
#     short_df = short_df.append(main_trans_df.loc[i,:], ignore_index=True)
# #     short_df = short_df.append(main_trans_df.loc[randint(0,len(main_trans_df)-1),:], ignore_index=True)
# print("Length of Short Data Frame = ", len(short_df))
# short_df.head()

Length of Short Data Frame =  1010

,ID,Severity,Start_Time,End_Time,Lat,Lng,Description,Number,Street,Side,City,County,State,Zipcode
0,A-1,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,Right lane blocked due to accident on I-70 Eas...,NaN,I-70 E,R,Dayton,Montgomery,OH,45424
1,A-2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,Accident on Brice Rd at Tussing Rd. Expect del...,2584.0,Brice Rd,L,Reynoldsburg,Franklin,OH,43068-3402
2,A-3,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,Accident on OH-32 State Route 32 Westbound at ...,NaN,State Route 32,R,Williamsburg,Clermont,OH,45176
3,A-4,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,Accident on I-75 Southbound at Exits 52 52B US...,NaN,I-75 S,R,Dayton,Montgomery,OH,45417
4,A-5,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,Accident on McEwen Rd at OH-725 Miamisburg Cen...,NaN,Miamisburg Centerville Rd,R,Dayton,Montgomery,OH,45459

In [75]:
main_trans_df.iloc[11,:]

ID                                                          A-12
Severity                                                       3
Start_Time                                   2016-02-08 08:21:27
End_Time                                     2016-02-08 08:51:27
Lat                                                      39.9327
Lng                                                     -82.8309
Description    One lane blocked due to accident on I-70 Westb...
Number                                                       NaN
Street                                                    I-70 E
Side                                                           R
City                                                Reynoldsburg
County                                                  Franklin
State                                                         OH
Zipcode                                                    43068
Name: 11, dtype: object

In [86]:
main_trans_df['Start_Time'] = main_trans_df['Start_Time'].map(lambda date_string: datetime.strptime(date_string, '%Y-%m-%d %H:%M:%S'))

In [98]:
main_trans_df['Start_Time'][5].year

2016

In [102]:
# for i in range(len(main_trans_df)):
#     date = datetime.strptime(main_trans_df['Start_Time'][i], '%Y-%m-%d %H:%M:%S')
#     if (date.year == 2016):
#         short2016_df = short2016_df.append(main_trans_df.iloc[i,:], ignore_index=True)
#     elif (date.year == 2017):
#         short2017_df = short2017_df.append(main_trans_df.iloc[i,:], ignore_index=True)
#     elif (date.year == 2018):
#         short2018_df = short2018_df.append(main_trans_df.iloc[i,:], ignore_index=True)
#     elif (date.year == 2019):
#         short2019_df = short2019_df.append(main_trans_df.iloc[i,:], ignore_index=True)
#     else :
#         pass
#     if (i % 1000 == 0):
#         print(f"i = {i}")
short2016_df = main_trans_df.loc[main_trans_df['Start_Time'].apply(lambda x: x.year) == 2016,:]
short2017_df = main_trans_df.loc[main_trans_df['Start_Time'].apply(lambda x: x.year) == 2017,:]
short2018_df = main_trans_df.loc[main_trans_df['Start_Time'].apply(lambda x: x.year) == 2018,:]
short2019_df = main_trans_df.loc[main_trans_df['Start_Time'].apply(lambda x: x.year) == 2019,:]
print(len(short2016_df))
print(len(short2017_df))
print(len(short2018_df))
print(len(short2019_df))

410600
717483
892615
953630

In [69]:
count2016 = 0
count2017 = 0
count2018 = 0
count2019 = 0
for i in range(len(main_trans_df)):
    date = datetime.strptime(main_trans_df['Start_Time'][i], '%Y-%m-%d %H:%M:%S')
    if (date.year == 2016):
        count2016 = count2016 + 1
    elif (date.year == 2017):
        count2017 = count2017 + 1
    elif (date.year == 2018):
        count2018 = count2018 + 1
    elif (date.year == 2019):
        count2019 = count2019 + 1
    else :
        pass
print(count2016)
print(count2017)
print(count2018)
print(count2019)

410600
717483
892615
953630

In [67]:
for i in range(0,1000):
    short_df = short_df.append(main_trans_df.loc[i,:], ignore_index=True)
#     short_df = short_df.append(main_trans_df.loc[randint(0,len(main_trans_df)-1),:], ignore_index=True)
print("Length of Short Data Frame = ", len(short_df))

0
1
2
3
4
5

In [36]:
# print("Number of unique enties in Short Data Frame = ", short_df['ID'].nunique())
# short_df = short_df.drop_duplicates()

Number of unique enties in Short Data Frame =  2774335

In [37]:
# main_trans_df.to_csv("../static/data/US_Accidents_Dec19_Transformed.csv")
short_df.to_csv("../static/data/Test_Data2.csv")

In [103]:
short2016_df.to_csv("../static/data/main2016.csv")
short2017_df.to_csv("../static/data/main2017.csv")
short2018_df.to_csv("../static/data/main2018.csv")
short2019_df.to_csv("../static/data/main2019.csv")

### Create database connection

In [77]:
# connection_string = "postgres:[password]@localhost:5432/Pokemon"
# engine = create_engine(f'postgresql://{connection_string}')

In [30]:
# # Confirm tables
# engine.table_names()

In [ ]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

db1 = client.Accidents
db2 = client.Accidents_Short

### Drop Documents in Databases if Necessary

In [43]:
db1.accident.drop()
db2.accident.drop()

### Load DataFrames into database

In [79]:
# combined_df.to_sql(name='pokemon', con=engine, if_exists='append', index=True)

In [44]:
db1.accident.insert_many(main_trans_df.to_dict('records'))
db2.accident.insert_many(short_df.to_dict('records'))